h1{
    color: rgb(0, 238, 255);
    font-size: 24px; 
    font-style: italic; 
    font-weight: bold;

}

h2{
    color: #0000ff; 
    font-size: 20px; 
    font-weight:bold;

}

h3{
     font-size: 16px; 
     color: teal;
     font-weight: bold;

}

p{ 
    color: #4d4d4d;

}

a{
    text-decoration: none;
    color: #8a2be3;

}

header{
    width: 100vw;
    height: 33vh;
 background-image: url(./img/controller.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;

}

article{
    border: 2px solid rgb(0, 255, 195);
    border-radius: 30px;
    border-style: dashed;
    border-left: solid 5px rgb(255, 0, 255);
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
  